<ol>
  <li>
    {{post.title}},
    {{post.content}}
    {{format_date post.created_at}}
  </li>
</ol>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>