<form class="login-form">
  <div class="form-group mb-2">
    <label for="email-login" class="col-sm-2 col-form-label">EMAIL</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login" class="col-sm-2 col-form-label">PASSWORD</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary mt-4 mb-2">LOGIN</button>
  </div>
</form>

<a href="/signup" class="btn btn-primary mt-2">Sign Up</a>

<script src="javascript/login.js"></script>